@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #f9f9f9;
	background: white;
	color: #6c6e6f;
	color; rgba(0,0,0,.9);
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 100%;
}

a {
	text-decoration: none;
	color: #59666d;
	outline: none;
}

a:hover, a:focus {
	color: #6c6e6f;
	outline: none;
}

.demo-drawings body {
	/*background: #F17370;
	background: rgba(0,0,0,.5);
	color: #fff;*/
}

.demo-drawings a {
	text-decoration: none;
	color: rgba(255,255,255,0.7);
	outline: none;
}

.demo-drawings a:hover, a:focus {
	color: #fff;
	outline: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.codrops-header,
.codrops-top {
	font-family: 'Lato', Arial, sans-serif;
}

.codrops-header {
	position: relative;
	margin: 0 auto;
	padding: 40px 5px;
	text-align: center;
}

.demo-drawings .codrops-header {
	margin: 0 auto 3em;
}

.demo-drawings .codrops-header {
	background: rgba(0,0,0,.02);
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
}

.codrops-header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	color: rgba(0,0,0,0.3);
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
	font-weight: 700;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.related {
	text-align: center;
	font-size: 1.5em;
	clear: both;
	position: relative;
}

.demo-drawings .related {
	padding: 7em 0;
}

.related a {
	font-weight: 700;
	font-size: 0.9em;
}

/* Demo buttons */
.codrops-demos {
	margin: 10px 0;
}

.codrops-demos a {
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	font-weight: 400;
	font-size: 90%;
	margin: 0 4px;
	background: #237dac;
	color: #fff;
}

.demo-drawings .codrops-demos a {
	border: 2px solid #fff;
	color: #fff;
	background: transparent;
}

.demo-drawings .codrops-demos a:hover,
.demo-drawings .codrops-demos a.current-demo {
	opacity: 0.6;
	background: transparent;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo {
	background: #5ca9d6;
}


@media screen and (max-width: 46.0625em) {

	.codrops-header {
		margin-bottom: 0;
		padding-bottom: 1em;
	}

}

@media screen and (max-width: 25em) {

	.demo-drawings .codrops-header {
		font-size: 80%;
	}

	.codrops-top {
		font-size: 120%;
	}

	.codrops-icon span {
		display: none;
	}

}